NEXT_PUBLIC_SUPABASE_URL=https://qmawtxbvjkhmqgnbbscv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtYXd0eGJ2amtobXFnbmJic2N2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2MjQyNDYsImV4cCI6MjEwMDIwMDI0Nn0.jW2nAt-uKFQpOsPGdLh6vg2Pw_GqzvYp29YI_bI7klM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtYXd0eGJ2amtobXFnbmJic2N2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDYyNDI0NiwiZXhwIjoyMTAwMjAwMjQ2fQ.WDjMBY_P8hQVrL5jMGdtMYzx4clO38nitQ3JiMxXAJQ
DATABASE_URL=postgresql://postgres:[S1e7ti83X1rZRMEj]@db.qmawtxbvjkhmqgnbbscv.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres:[S1e7ti83X1rZRMEj]@db.qmawtxbvjkhmqgnbbscv.supabase.co:5432/postgres
JWT_SECRET=361669e5-5b3f-454e-a080-8169d375d1c9
NEXTAUTH_SECRET=361669e5-5b3f-454e-a080-8169d375d1c0
NEXTAUTH_URL=http://x5-sman1-pbg.vercel.app  
